form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 1px;
    width: 60%;
    float: center;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    margin-left: 260px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #D6CFC7;
    
}

.box1 {
    width: auto;
    height: 140px;
    /* border: 1px solid red; */
    margin: 8px;
    margin-bottom: 20px;

}

.box2 {
    width: auto;
    height: auto;
    margin: 12px;
}

.image {
    width: 15%;
    height: 140px;
    float: left;
    padding: 9px;

}

.subhead {
    padding-left: 130px;
    width: 90%;
    height: 138px;
    /* border: 1px solid pink; */
}

.head1 {
    margin-top: 0px;

    margin-bottom: 0px;
    font-weight: bold;
}

.paragraph1 {
    color: #616161;
    word-spacing: 0px;
    margin-top: 8px;
    margin-bottom: 2px;
}

.fa {
    color: #088F8F;
    font-size: 12px;
    margin-top: 0px;
}

.paragraph2 {
    margin-bottom: 0px;
}

.paragraph3 {
    margin-top: 0px;
}

.border-bottom-thin {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom-style: solid;
    border-bottom-color: #E5E4E2;
    border-bottom-width: thin;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    /* color:#373737;  */
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 0px;
}

.p1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #696969
}

input[type="radio"] {
    color: green;
}
.row{
    display: flex;
     font-weight: bolder;
     color: dark black;
      margin-top: 1px;
      margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    text-align: left;
}
.style1{
    display: flex;
     color:#979797;
      margin-top: 1px;
      margin-bottom: 0px;
       margin-right: 5px;
}
.c { 
    word-spacing: 160px;
    padding-left: 0px;
  }
  .d{ 
    word-spacing: 160px;
    padding-left: 0px;
  }